.App {
  text-align: center;
  min-height: 100vh;
  background-color: #F7F1E3;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
